.source-serif-4-uniquifier > {
	font-family: 'Source Serif 4', serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}

.oswald-uniquifier {
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif 4', serif;
	overflow-x: hidden;
}

.header {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 46px 150px;
}

.logo {
	font-family: Oswald;
	font-weight: 400;
	font-size: 20px;
	line-height: 36px;
	color: var(--text-color);
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.nav a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--text-color);
	text-transform: uppercase;
	transition: all 1s ease;
}

.nav a:hover {
	color: var(--primary-color);
	transform: scale(1.1);
	transition: all 1s ease;
}

.episodes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.donate {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.donate a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--primary-color);
	text-transform: uppercase;
	transition: all 1s ease;
}

.border {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 1px;
	background-color: rgba(234, 234, 238, 1);
}

.menu {
	display: none;
}

.menu img {
	width: 30px;
	height: 30px;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.line {
	width: 100vw;
	height: 0px;
	border: 1px;
	rotate: -180 deg;
	border: 1px solid #eaeaee;
}

.music-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.music-photo {
	width: 180px;
	height: 180px;
	margin-top: 96px;
}

.music-view h2 {
	font-size: 26px;
	font-weight: 600;
	color: #222222;
	margin-top: 39px;
}

.music-player {
	width: 669.25px;
	height: 16px;
	margin-top: 39px;
}

.mobile-player {
	display: none;
}

.music-view p {
	font-size: 12px;
	font-weight: 600;
	margin-top: 39px;
}

.brands {
	display: flex;
	gap: 30px;
	margin-top: 12px;
}

.brands a:hover {
	transform: scale(1.1);
	transition: all 1s ease;
}

.text-section {
	margin-left: 385px;
}

.new-text p {
	font-size: 10px;
	font-weight: 600;
	color: #7247ca;
	padding: 6px 8px 6px 8px;
	background-color: #f5f5f7;
	width: 39px;
	height: 23px;
	border-radius: 3px;
}

.new-text h3 {
	font-size: 14px;
	font-weight: 400;
	color: #979797;
}

.new-text {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 96px;
}

.experience-23 h2 {
	margin-top: 14px;
	font-size: 21px;
	font-weight: 600;
}

.experience-23 p {
	margin-top: 12px;
	width: 670px;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
}

.listen-now {
	display: flex;
	gap: 10px;
}

.listen-now img {
	margin-top: 16px;
}

.listen-now p {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #7247ca;
	padding-top: 20px;
}

.team h2 {
	margin-top: 158px;
	margin-left: 385px;
	font-size: 26px;
	font-weight: 600;
}

.aida {
	width: 300px;
	height: 300px;
}

.nick {
	width: 300px;
	height: 300px;
}

.photo-comment {
	background-color: #f5f5f7;
	width: 300px;
	position: absolute;
	top: 300px;
	padding: 16px 0 73px 16px;
}

.photo-comment h3 {
	font-size: 12px;
	font-weight: 600;
	color: #7247ca;
}

.photo-comment p {
	font-size: 18px;
	font-weight: 400;
	margin-top: 8px;
}

.photo-comment-2 {
	background-color: #f5f5f7;
	width: 300px;
	position: absolute;
	top: 299px;
	padding: 16px 0 73px 16px;
}

.photo-comment-2 h3 {
	font-size: 12px;
	font-weight: 600;
	color: #7247ca;
}

.photo-comment-2 p {
	font-size: 18px;
	font-weight: 400;
	margin-top: 8px;
}

.about-nick {
	position: relative;
	margin-top: 25px;
}

.about-aida {
	position: relative;
	margin-top: 25px;
}

.about-nick:hover {
	transform: scale(1.1);
	transition: all 1s ease;
}

.about-aida:hover {
	transform: scale(1.1);
	transition: all 1s ease;
}

.aida-nick {
	display: flex;
	gap: 69px;
	justify-content: center;
	align-items: center;
}

.latest-posts-text {
	width: 139px;
	height: 32px;
	font-size: 26px;
	font-weight: 600;
	margin-top: 200px;
	margin-left: 385px;
}

.about-clock {
	display: flex;
	gap: 39px;
	margin-left: 385px;
	margin-top: 25px;
}

.about-clock img {
	width: 180px;
	height: 180px;
}

.about-clock h3 {
	font-size: 21px;
	font-weight: 600;
}

.about-clock p {
	font-size: 14px;
	font-weight: 400;
	color: #979797;
	margin-top: 16px;
}

.about-clock a {
	text-decoration: none;
	color: #7247ca;
	font-size: 14px;
	font-weight: 600;
	margin-top: 38px;
}

.about-headphones {
	display: flex;
	gap: 39px;
	margin-left: 385px;
	margin-top: 25px;
}

.about-headphones img {
	width: 180px;
	height: 180px;
}

.about-headphones h3 {
	font-size: 21px;
	font-weight: 600;
}

.about-headphones p {
	font-size: 14px;
	font-weight: 400;
	color: #979797;
	margin-top: 16px;
}

.about-headphones a {
	text-decoration: none;
	color: #7247ca;
	font-size: 14px;
	font-weight: 600;
	margin-top: 38px;
}

.blog {
	font-size: 14px;
	font-weight: 400;
	color: #7247ca;
	padding: 7px 16px 9px 7px;
	width: 106px;
	height: 34px;
	border-radius: 3px;
	background-color: #f5f5f7;
	border: none;
	font-family: Source Serif Pro;
	margin-left: 385px;
	margin-top: 55px;
}

.blog:hover {
	background-color: #d6d6ed;
	cursor: pointer;
}

.like-header {
	display: flex;
	flex-direction: column;
	row-gap: 9px;
	margin-left: 385px;
	margin-top: 128px;
}

.like-header a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #555555;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
	margin-top: 100px;
}

.footer-links {
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 300px;
}
.link {
	display: flex;

	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.link a {
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	color: var(--text-color);
	transition: all 1s ease;
}
.link a:hover {
	color: var(--primary-color);
	transition: all 1s ease;
	transform: scale(1.1);
}

.footer-text {
	display: flex;

	flex-direction: column;
	gap: 20px;
}
.footer-input {
	display: flex;
	gap: 10px;
}
.footer-input input {
	width: 300px;
	height: 42px;
	padding: 20px;
}
.footer-done {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20.1px;
	margin-top: 100px;
	margin-bottom: 50px;
}

.footer-img {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.footer-img a:hover {
	transform: scale(1.7);
	transition: all 1s ease;
}

@media (max-width: 600px) {
	.menu {
		display: block;
	}

	.nav {
		display: none;
	}

	.music-photo {
		margin-top: 48px;
	}

	.music-view h2 {
		width: 288px;
		height: 64px;
		text-align: center;
	}

	.mobile-player {
		display: block;
		margin-top: 39px;
	}

	.music-player {
		display: none;
	}

	.text-section {
		margin-left: 25vw;
	}

	.experience-23 h2 {
		width: 288px;
		height: 50px;
	}

	.experience-23 p {
		width: 288px;
		height: 75px;
	}

	.listen-now p {
		padding-top: 30px;
	}

	.aida-nick {
		display: flex;
		flex-direction: column;
	}

	.about-nick {
		margin-top: 104px;
	}

	.team h2 {
		margin-left: 25vw;
	}

	.about-clock {
		display: flex;
		flex-direction: column;
		margin-left: 25vw;
	}
	.about-headphones {
		display: flex;
		flex-direction: column;
		margin-left: 25vw;
	}
	.latest-posts-text {
		margin-left: 25vw;
	}

	.about-headphones h3 {
		width: 288px;
		height: 50px;
	}

	.about-clock h3 {
		width: 288px;
		height: 50px;
	}

	.blog {
		margin-left: 25vw;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 40px;
	}

	.footer-links {
		display: flex;

		flex-direction: column;
		gap: 80px;
	}
	.link {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.link a {
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		color: var(--text-color);
		transition: all 1s ease;
	}
	.link a:hover {
		color: var(--primary-color);
		transition: all 1s ease;
		transform: scale(1.1);
	}
	.footer-text {
		display: flex;
		flex-direction: column;
		gap: 15.1px;
	}
}
