:root {
  --primary-color: rgba(114, 71, 202, 1);
  --second-color: rgba(255, 255, 255, 1);
  --text-color: rgba(85, 85, 85, 1);
  --color-gray: rgba(151, 151, 151, 1);
  --border-color: rgba(234, 234, 238, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-emphasis: none;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 150px;
}

.logo {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: var(--text-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  text-transform: uppercase;
  transition: all 1s ease;
}

.nav a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
  transition: all 1s ease;
}

.episodes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.donate a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: all 1s ease;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: rgba(234, 234, 238, 1);
}

.menu {
  display: none;
}

.menu img {
  width: 30px;
  height: 30px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 80px;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.text-1 h2 {
  font-weight: 600;
  font-size: 26px;
  color: var(--text-color);
}
.text-1 p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray);
}
.music {
  display: flex;
  align-items: center;
  justify-content: center;
}
.music audio {
  width: 660px;
  height: 20px;
}
.listen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.listen-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}
.text-2 h2 {
  font-weight: 600;
  font-style: 21px;
  color: var(--text-color);
}
.text-2 p {
  font-weight: 400;
  font-style: 16px;
  line-height: 25px;
  color: var(--color-gray);
}
.text-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 270px 24px 24px;
  border: solid 2px var(--border-color);
}
.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 25px;
  margin-right: 400px;
}

.tt4-a {
  text-align: start;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(85, 85, 85, 1);
}

.border-2 {
  width: 660px;
  height: 2px;
  background-color: var(--border-color);
}
.share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 480px;
}
.border-3 {
  width: 660px;
  height: 2px;
  background-color: var(--border-color);
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}
.post h2 {
  margin-right: 450px;
  font-weight: 600;
  font-size: 26px;
  color: var(--text-color);
}
.line-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.line-1-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.line-1-text h2 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
}
.dec {
  color: var(--color-gray);
}
.read {
  font-weight: 600;
  color: var(--primary-color);
}
.text-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-right: 420px;
}
.text-5 b {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
.text-5 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-gray);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
form label {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
}
.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comment input {
  width: 670px;
  height: 150px;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.name input {
  width: 670px;
  height: 42px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email input {
  width: 670px;
  height: 42px;
}
.website {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.website input {
  width: 670px;
  height: 42px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox p {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
}
.checkbox:hover p {
  color: var(--text-color);
}
.submit button {
  width: 90px;
  height: 35px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  transition: all 1s ease;
  border: none;
}
.submit button:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  opacity: 0.5;
}
.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}
.text-6 {
  display: flex;
  align-items: start;
  justify-content: start;
}
.text-6 h2 {
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin-right: 470px;
  margin-bottom: 20px;
}
.comment-1 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.mark-img {
  display: flex;
}
.comment-1-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-7 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.pp {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
}
.text-7 p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray);
}
.reply {
  display: flex;
  gap: 20px;
}
.reply p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray);
}
.comment-2 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-left: 250px;
}
.border-11 {
  width: 670px;
  height: 2px;
  background-color: var(--border-color);
  margin-top: 20px;
}
.comment-3 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.footer-links {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 300px;
}
.link {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  transition: all 1s ease;
}
.link a:hover {
  color: var(--primary-color);
  transition: all 1s ease;
  transform: scale(1.1);
}

.footer-text {
  display: flex;

  flex-direction: column;
  gap: 20px;
}
.footer-input {
  display: flex;
  gap: 10px;
}
.footer-input input {
  width: 300px;
  height: 42px;
  padding: 20px;
}
.footer-done {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.none {
  display: none;
}

@media (max-width: 600px) {
  .header {
    padding: 20px 20px;
  }

  .nav {
    display: none;
  }

  .menu {
    display: block;
  }
  .text-1 h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
  }
  .music audio {
    width: 500px;
    height: 20px;
  }
  .none {
    display: block;
  }
  .text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-2 h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
  }

  .text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 20px 24px 20px;
    border: solid 2px var(--border-color);
  }
  .section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }

  .text-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 0px;
  }

  .tt4-a {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(85, 85, 85, 1);
  }
  .share {
    display: flex;
    gap: 20px;
    padding: 24px 20px 24px 20px;
    margin: 0;
  }
  .post h2 {
    margin-right: 60px;
    font-weight: 600;
    font-size: 25px;
  }
  .line-1 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }
  .line-1-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .line-1-text h2 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
  }
  .dec {
    color: var(--color-gray);
  }
  .read {
    font-weight: 600;
    color: var(--primary-color);
  }

  .border {
    width: 400px;
    height: 1px;
  }
  .border-2 {
    width: 400px;
    height: 1px;
  }
  .border-3 {
    width: 400px;
    height: 1px;
  }
  .border-11 {
    width: 400px;
    height: 1px;
  }
  .text-5 {
    margin: 0;
  }
  .comment {
    display: flex;
    align-items: center;
  }
  .comment label {
    margin-right: 320px;
  }
  .comment input {
    width: 400px;
    height: 150px;
    margin: 0;
  }
  .name {
    display: flex;
    align-items: center;
  }
  .name label {
    margin-right: 330px;
  }
  .name input {
    width: 400px;
    height: 42px;
  }
  .email {
    display: flex;
    align-items: center;
  }
  .email label {
    margin-right: 330px;
  }
  .email input {
    width: 400px;
    height: 42px;
  }
  .website {
    display: flex;
    align-items: center;
  }
  .website label {
    margin-right: 330px;
  }
  .website input {
    width: 400px;
    height: 42px;
  }
  .checkbox {
    display: flex;
    align-items: center;
  }
  .checkbox input {
    width: 20px;
    height: 20px;
  }
  .text-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-6 h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin-right: 250px;
  }
  .text-7 {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }

  .footer-links {
    display: flex;

    flex-direction: column;
    gap: 80px;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
    transition: all 1s ease;
  }
  .link a:hover {
    color: var(--primary-color);
    transition: all 1s ease;
    transform: scale(1.1);
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
